@font-face{
    font-family:OpenSans-Bold;
    src:url("OpenSans-Bold.ttf");
}
@font-face{
    font-family:OpenSans-Regular;
    src:url("OpenSans-Regular.ttf");
}

#os-bold{
    font-family:OpenSans-Bold;
}
#os-regular{
    font-family:OpenSans-Regular;
}

*{
  margin:0;
  padding:0;
  
}

.header{
height:100vh;
}

.navbar-style{
    color: linear-gradient(to right, #fff , #fff);
    background-image: linear-gradient(to right, #192ffa , #19e3fa);
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;

}

.nav-link{
    color: white;
    font-family:OpenSans-Bold;
}
.logo{
    height: 70px;
    padding: 2px 10px;
}

.icon-bar{
    background: white;
}

li a{
    font-weight: 400;
    color: linear-gradient(to right, #192ffa , #19e3fa);
}

.big-text{
  
    font-size: 52px;
    margin: 20px 0;
    
}
.small-text{
   
  
    
    font-size: 20px;
    margin: 20px 0;
    
}
#h1 {
  
  
}


a.btn{
    margin: 30px 10px;
    width: 160px;
    border-radius: 20px;
    padding: 10px;
}


.ton{
    text-decoration: none;
    margin: 30px 10px;
    width: 400px;
    border-radius: 8px;
    padding: 10px;
    font-weight: 400;
    
    background-color: white;
    border: none;
    color:#221338 ;
}
.ton:hover{
    text-decoration: none;
    margin: 30px 10px;
    width: 400px;
    border-radius: 8px;
    padding: 10px;
    
    
    background-color: #ff6600;
    border: none;
    color:white;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}
a.btn-first{
    
    background-color: linear-gradient(to right, #192ffa , #19e3fa);
    border: none;
    color: #fff;
}

a.btn:hover{
   background-color: linear-gradient(to right, #192ffa , #19e3fa);
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

.d-info,.d-image{
    text-align: justify-all;
    margin: 30px 0;
}
.card{
    background-color:white;
    padding-left: 20px;
    border: 1px solid black;
    border-color: black;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #999;
}

.ggg{
    justify-content: centre;
    text-align: center;
}
.container{
    
    justify-content: centre;
}

.grad1 {
  background-image: -webkit-linear-gradient(120deg,#ff00f7, #00d0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
    
#grad {
  background-image: linear-gradient(to right, #192ffa , #19e3fa);
}

.btn-1{
    padding: 10px;
    margin: 30px 10px;
    border-radius: 15px;
    width: auto;
    text-decoration: none;
    background-color:red;
    color: white;
    
}

.footer-main{
    background-color:#221338;
    height: 270px;
    text-align: center;
}

.footer-main .left{
    background-color:#221338;
    padding: 30px;
    height: 270px;
    text-align: center;
}

.footer-main .centerr{
    background-color:#221338;
    padding: 30px;
    height: 270px;
   
}

.footer-main .right{
    background-color:#221338;
    padding: 30px;
    height: 270px;
    padding: 30px;
}

#social li {
  display: inline;
    }
#social{
    padding-top: 30px;
}
#fa{
    padding-right: 20px;
    padding-top: 30px;
    color:blue;
     
}

#in{
    padding-right: 20px;
    padding-top: 30px;
    color:blue;
     
}

#yu{
    padding-right: 20px;
    padding-top: 30px;
    color:blue;
     
}

.aaa{
    font-size: 26px;
}

#place li {
  
  display: inline;
    }

#mail li{
  
  display: inline;
    }
i{
    padding: 10px;
}



.footer-last{
   font-family:OpenSans-Regular;     
   color:white;        
   background-color:#130922;
   height: 60px;
    width: auto;
    position: relative;
}

#color-grey{
    color: #e6e6e6;
}